<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <modules>
    <module assemblyFile="Modules/PersistenceModule.dll" moduleType="PersistenceModule.ModuleDefinition.PersistenceModule, PersistenceModule" moduleName="PersistenceModule" />
    <module assemblyFile="Modules/LoginModule.dll" moduleType="LoginModule.ModuleDefinition.LoginModule, LoginModule" moduleName="LoginModule" >
      <dependencies>
        <dependency moduleName="PersistenceModule"/>
      </dependencies>
    </module>
    <!--<module assemblyFile="Modules/MatchModule.dll" moduleType="MatchModule.ModuleDefinition.MatchModule, MatchModule" moduleName="MatchModule" >
      <dependencies>
        <dependency moduleName="PersistenceModule"/>
      </dependencies>
    </module>
    <module assemblyFile="Modules/GroupModule.dll" moduleType="GroupModule.ModuleDefinition.GroupModule, GroupModule" moduleName="GroupModule" >
      <dependencies>
        <dependency moduleName="PersistenceModule"/>
      </dependencies>
    </module>
    <module assemblyFile="Modules/TeamModule.dll" moduleType="TeamModule.ModuleDefinition.TeamModule, TeamModule" moduleName="TeamModule" >
      <dependencies>
        <dependency moduleName="PersistenceModule"/>
      </dependencies>
    </module>-->
    <module assemblyFile="Modules/LocationModule.dll" moduleType="LocationModule.ModuleDefinition.LocationModule, LocationModule" moduleName="LocationModule" >
      <dependencies>
        <dependency moduleName="PersistenceModule"/>
      </dependencies>
    </module>
    <module assemblyFile="Modules/NationModule.dll" moduleType="NationModule.ModuleDefinition.NationModule, NationModule" moduleName="NationModule" >
      <dependencies>
        <dependency moduleName="PersistenceModule"/>
      </dependencies>
    </module>
    <module assemblyFile="Modules/ChampionshipModule.dll" moduleType="ChampionshipModule.ModuleDefinition.ChampionshipModule, ChampionshipModule" moduleName="ChampionshipModule" >
      <dependencies>
        <dependency moduleName="PersistenceModule"/>
      </dependencies>
    </module>
  </modules>
  <appSettings>
    <add key="BaseUrl" value="https://antelope.circinus.uberspace.de/"/>
  </appSettings>
</configuration>